<h1>{{bookmarksListCtrl.getCurrentCategoryName()}}</h1>
<div ng-repeat="bookmark in bookmarksListCtrl.bookmarks | filter:{category:bookmarksListCtrl.getCurrentCategoryName()}" ng-class="{'active': (bookmark.id == bookmarksListCtrl.getCurrentBookmarkId())}">
    <button type="button" class="close" ng-click="bookmarksListCtrl.deleteBookmark(bookmark)">&times;</button>
    <button type="button" class="btn btn-link"><span class="glyphicon glyphicon-pencil" ui-sref="eggly.categories.bookmarks.edit({bookmarkId: bookmark.id})"></span></button>
    <a href="{{bookmark.url}}" target="_blank">{{bookmark.title}}</a>
</div>
<hr />
<ui-view>
    <button type="button" class="btn btn-link" ui-sref="eggly.categories.bookmarks.create" ng-if="bookmarksListCtrl.getCurrentCategory()">
        <span class="glyphicon glyphicon-plus"></span> Create Bookmark
    </button>
</ui-view>